<mat-grid-list cols="2" rowHeight="fit" height="100%">
    <mat-grid-tile>
        <mat-icon color="warn" svgIcon="mdi:alert-octagon"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="warn" svgIcon="mdi:alert-octagon"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <a mat-button routerLink="/home" color="warn">
            <h1 style="font-weight: 900; margin: 10px">Work in Progress</h1>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="warn" svgIcon="mdi:alert-octagon"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="warn" svgIcon="mdi:alert-octagon"></mat-icon>
    </mat-grid-tile>
</mat-grid-list>
